services:
  mediaflow_proxy:
    #build: https://github.com/nzo66/mediaflow-proxy.git#main
    image: ghcr.io/riccardobe/mediaflow-proxy
    container_name: mediaflow_proxy
    env_file:
      - ./mfp/.env
    restart: unless-stopped
    networks:
      - proxy
    dns:
      - 1.1.1.1
      - 8.8.8.8
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mediaflow_proxy.rule=Host(`${MFP_SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.mediaflow_proxy.entrypoints=web"
      - "traefik.http.services.mediaflow_proxy.loadbalancer.server.port=8888"
      - "traefik.http.routers.mediaflow_proxy.middlewares=noindex@docker"

  streamvix:
    #build: https://github.com/qwertyuiop8899/streamvix.git#main
    image: qwertyuiop8899/streamvix:latest
    container_name: streamvix
    #env_file:
    #  - ./streamvix/.env
    restart: unless-stopped 
    networks:
      - proxy
    dns:
      - 1.1.1.1
      - 8.8.8.8
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.streamvix.rule=Host(`${STREAMVIX_SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.streamvix.entrypoints=web"
      - "traefik.http.services.streamvix.loadbalancer.server.port=7860"
      - "traefik.http.routers.streamvix.middlewares=noindex@docker"

  aiostreams:
    # build: https://github.com/RiccardoBe/AIOStreams.git#main
    image: ghcr.io/viren070/aiostreams:latest
    container_name: aiostreams
    env_file:
      - ./aiostreams/.env
    volumes:
      - aiostreams-data:/app/data
    restart: unless-stopped 
    networks:
      - proxy
    dns:
      - 1.1.1.1
      - 8.8.8.8
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.aiostreams.rule=Host(`${AIOSTREAMS_SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.aiostreams.entrypoints=web"
      - "traefik.http.services.aiostreams.loadbalancer.server.port=3001"
      - "traefik.http.routers.aiostreams.middlewares=noindex@docker"

volumes:
  aiostreams-data:

networks:
  proxy:
    external: true